<div class="admin_widget">
  <h1 class="admin_element_label"><%= name_for_display(elements.first) %></h1>
  <table class="recipe_admin">
    <% elements.each do |element| %>
      <tr class="admin_element <%= admin_element_class_name(element) %>">
        <td>
          <%= link_to element.url do %>
            <%= filepicker_image_tag(element.image, w: 100, h: 60, fit: 'crop', align: "center,center") %>
          <% end %>
        </td>
        <td>
          <%= link_to element.name, element.url, :class => "admin_element_name" %>
          <%= link_to "edit", element.edit_url %> |
          <%= link_to "delete", element.delete_url %> 
        </td>
      </tr>
    <% end %>
  </table>
</div>