<% start_index ||= nil %>
<% page ||= nil %>
<% pagination_end ||= nil %>
<% last_page ||= false %>
<% elements.try(:each_with_index) do |element, index| %>
  <% index = start_index ? start_index + index : index %>
  <% if index == 0 %>
    <div class="special-nav">
      <a class="special-nav__item" href="/recipes">Recipes</a>
      <a class="special-nav__item" href="/ingredients">Ingredients</a>
      <a class="special-nav__item" href="/about">About</a>
      <a class="special-nav__item" href="/index">Index</a>
      <a class="special-nav__item" href="https://instagram.com/tuxedono2">Instagram</a>
    </div>
  <% end %>
  <% if index == 3 %>
    <%= render 'shared/element_list_card.html.erb', list_name: "Base Spirits", elements: base_spirits[0..4] %>
  <% end %>
  <% if index == 6 %>
    <%= render 'shared/instagram_card.html.erb', border_version: true %>
  <% end %>
  <% if index >= 8 && index % 4 == 0 && index <= 24 %>
    <%= render 'shared/ingredient_list_card.html.erb', list_name: "Base Spirits", ingredient: base_spirits[(index - 8) / 4] %>
  <% end %>
  <% if index == 11 %>
    <%= render 'shared/mail_card.html.erb', border_version: true %>
  <% end %>
  <%= render 'list_element', element: element, first: index == 0, second: index == 1, display_number: index == 0, lazy_load: index === pagination_end && !last_page ? "/list/more/#{page + 1}" : nil %>
<% end %>
