<% first ||= false %>
<% second ||= false %>
<% display_number ||= false %>
<% class_name ||= '' %>
<% carousel_index ||= false %>
<% lazy_load ||= false %>
<% tag ||= false %>

<a 
  href="<%= element.url %>" 
  class='list-element <%= 'list-element--first' if first && !tag %> <%= 'list-element--first-tag' if first && tag %> <%= 'list-element--second' if second && !tag %> <%= class_name %>' 
  itemprop="itemListElement" 
  role="listitem"
  itemscope 
  itemtype="http://schema.org/Recipe"
  <%= "data-carousel-index=#{carousel_index}" unless !carousel_index %>
  <%= "data-lazy-load-on-scroll=#{lazy_load}" unless !lazy_load %>
>
  <div class="list-element__image-link <%= 'list-element__image-link--hero' if first %> <%= 'list-element__image-link--hero-tag' if first && tag %>">
    <%= display_number_with_fallback(element, "list-element__display-number") if display_number && !tag %>
    <% if tag && first %>
      <div class="display-number list-element__display-number list-element__display-number--tag">
        <%= render '/shared/svg', id: "tag-" + tag.gsub(' ', '-'), className: 'display-number__tag-icon'%>
      </div>
    <% end %>
    <%= first ? header_image(element, "list-element__img", true) : list_image(element, "list-element__img") %>
  </div>
  <% if first && !tag && element.class == Recipe %>
    <div class="list-element__details list-element__details--featured">
      <h1 class="list-element__name list-element__name--featured" itemprop="name" role="heading">
        <%= element.name %>
      </h1>
      <h2 class="list-element__subtitle">
        <%= element.subtitle %>
      </h2>
      <div class="list-element__tag-icons">
        <%= render 'recipes/tags', tags: element.tags, class_name: "list-element__tag-icon" %>
      </div>
      <div class="list-element__subtext list-element__subtext--featured">
        <%= render element.subtext, element: element if element.try(:subtext).present? %>
      </div>
    </div>
  <% else %>
    <div class="list-element__details <%= 'list-element__details--tag' if tag %>">
      <h3 class="list-element__name" itemprop="name" role="heading">
        <% if element.try(:number).present? %>
          <span class="list-element__number">No. <%= element.number %>:</span>
        <% end %>
        <%= element.name %>
      </h3>
      <div class="list-element__subtext">
        <%= render element.subtext, :element => element if element.try(:subtext).present? %>
      </div>
    </div>
  <% end %>
</a>
