<% list_elements.try(:each_with_index) do |element, index| %>
  <li class='list-element <%= "never-make-me-tall" if element.try(:never_make_me_tall) %>'>
    <%= link_to element.url, class: "list-image-wrapper" do %>
      <%= list_image(element) %>
    <% end %>
    <div class="list-details">
      <h3><%= link_to swash(element.name), element.url %></h3>
      <%= render element.subtext, :element => element if element.subtext.present? %>
    </div>
  </li>
  <span class="sawhorse"></span>
<% end %>
