<div class="header list<%= " home" if @list.home? %>">
  <div class="header-content">
    <%= filepicker_image_tag @list.image, w: 1880, h: 1080, fit: 'crop', crop: "0,0,1880,1080", align: "center,center" %>
    <h1 class="header-title"><%= title %></h1>
  </div>
</div>
<div class="content list<%= " home" if @list.home? %>">
  <div class="primary">
    <ul class="list_elements">
      <% @list.elements.each do |element| %>
        <li class="list_element">
          <%= link_to element.url do %>
            <%= filepicker_image_tag element.image, w: 275, h: 175, fit: 'crop', align: "center,center" %>
            <h3><%= element.name %></h3>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<a href="<%= edit_url() %>">edit</a>