<% cache(cache_key(@list, "show")) do %>
  <div class="list <%= "list--home" if @list.home? %>">
    <% elements_for_list(@list).try(:each_with_index) do |element, index| %>
      <% if index == 0 %>
        <div class="special-nav">
          <a class="special-nav__item" href="/recipes">Recipes</a>
          <a class="special-nav__item" href="/ingredients">Ingredients</a>
          <a class="special-nav__item" href="/about">About</a>
          <a class="special-nav__item" href="/index">Index</a>
          <a class="special-nav__item" href="/instagram">Instagram</a>
        </div>
      <% end %>
      <% if index == 3 %>
        <%= render 'shared/element_list_card.html.erb', list_name: "Base Spirits", elements: base_spirits %>
      <% end %>
      <% if index == 6 %>
        <%= render 'shared/instagram_card.html.erb', border_version: true %>
      <% end %>
      <% if index >= 8 && index % 4 == 0 && index <= 24 %>
        <%= render 'shared/ingredient_list_card.html.erb', list_name: "Base Spirits", ingredient: base_spirits[(index - 8) / 4] %>
      <% end %>
      <% if index == 11 %>
        <%= render 'shared/mail_card.html.erb', border_version: true %>
      <% end %>
      <%= render 'list_element', element: element, first: index == 0, second: index == 1, display_number: index == 0 %>
    <% end %>
  </div>
  <%= render 'footer', :list => @list %>
<% end %>
