<%= form_for @component, url: {action: form_action()}, html: {method: "post"} do |f| %>
  <div class="form_block primary">
    <%= f.text_field :name, :value => default_text(:name), :placeholder => "name" %>
    <%= f.text_area :description, :value => default_text(:description), :placeholder => "description" %>
    <%= f.text_field :nick, :value => default_text(:nick), :placeholder => "nickname" %>
    <%= f.text_field :pseudonyms_as_markdown, :value => default_text(:pseudonyms_as_markdown), :placeholder => "other names for this ingedient" %>
  </div>
  <div class="form_block secondary">
    <%= f.label "component recipes" %>
    <%= f.text_area :list_as_markdown, :value => @component.list_for_textarea_with_default, :class => "autocomplete recipes components lists" %>
    <%= render "shared/image_options", :element => @component, :f => f %><br/>
    <label>Never make me tall!</label>
    <%= f.check_box :never_make_me_tall, :value => default_text(:never_make_me_tall) %></br>
    <%= f.submit(submit_text()) %>
    <%= link_to "delete", action: "delete" if @component.id %>
  </div>
<% end %>
