<%= form_for @component, url: {action: form_action()}, html: {method: "post", class: "form-content"} do |f| %>
  <div class="form_block primary">
    <%= f.text_field :name, :value => default_text(:name), :placeholder => "name" %>
    <%= f.text_area :subtitle, :value => default_text(:subtitle), :placeholder => "subtitle", :class => "mini" %>
    <%= f.text_field :nick, :value => default_text(:nick), :placeholder => "nickname" %>
    <%= f.text_area :substitutes_as_markdown, :value => default_text(:substitutes_as_markdown), :placeholder => "list of substitutes (markdown enabled)", :class => "mini" %>
    <%= f.text_field :pseudonyms_as_markdown, :value => default_text(:pseudonyms_as_markdown), :placeholder => "other names for this ingedient" %>
    <label>Don't show subcomponents in search</label>
    <%= f.check_box :skip_subcomponent_search %>
  </div>
  <div class="form_block secondary">
    <%= f.text_area :description, :value => default_text(:description), :placeholder => "description", :class => "autocomplete components recipes" %>
    <%= f.submit(submit_text()) %>
    <%= link_to "delete", action: "delete" if @component.id %>
  </div>
<% end %>
