<div class="header component">
  <div class="header-content">
    <%= filepicker_image_tag @component.image, w: 1880, h: 1080, fit: 'crop', crop: "0,0,1880,1080", align: "center,center" %>
    <h1 class="header-title"><%= @component.name.titleize %></h1>
  </div>
  <%= render 'admin/user_links' %>
</div>
<div class="content component">
  <div class="aside"> 
    <ul class="recipes">
      <h1>Recipes</h1>
      <% @component.list_elements.each do |list_element| %>
        <li><%= link_to list_element.name, list_element.url %></li>
      <% end %>
    </ul>
  </div>
  <div class="primary">
    <p><%= @component.description %></p>
  </div>
</div>