<%= form_for @recipe, url: {action: form_action()}, html: {method: "post"} do |f| %>
  <div class="form_block primary">
    <%= f.text_field :name, :value => default_text(:name), :placeholder => "name" %>
    <%= f.text_area :recipe, :value => default_text(:recipe), :placeholder => "recipe", :class => 'autocomplete components' %>
    <%= f.text_field :tags_as_text, :value => default_text(:tags_as_text), :class => "tag-select", :autocomplete => "off", :placeholder => "tags" %>
    <%= f.text_field :adapted_from, :value => default_text(:adapted_from), :placeholder => "adapted from" %>
    <label>Rating (SEO only): </label>
    <%= f.select :rating, [0,1,2,3,4,5], value: @recipe.rating  %>
  </div>
  <div class="form_block secondary">
    <%= f.text_area :description, :value => default_text(:description), :placeholder => "description", :class => "autocomplete components recipes" %>
    <%= render "shared/image_options", :element => @recipe, :f => f, :field => :image %>
    <%= render "shared/image_options", :element => @recipe, :f => f, :field => :image2 %>
    <%= render "shared/image_options", :element => @recipe, :f => f, :field => :image3 %>
    <label>publish?</label>
    <%= f.check_box :published, :value => default_text(:published) %>
    <a class="show-extra-options">extra options</a>
    <div class="extra-options hidden">
      <label>Make my number last!</label>
      <%= check_box_tag :make_my_number_last %><br/>
      <label>Never make me tall!</label>
      <%= f.check_box :never_make_me_tall %><br/>
    </div>
    <br/>
    <%= f.submit(submit_text()) %>
    <%= link_to "delete", action: "delete" if @recipe.id %>
  </div>
<% end %>
