<%= filepicker_image_tag @recipe.image, w: 560, h: 360, fit: 'clip' %>
<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<p><%= @recipe.recipe_to_html %></p>
<p><%= @recipe.instructions %></p>
<a href="<%= edit_url() %>">edit</a>