<% cache(cache_key(@recipe, "show")) do %>
  <div class="header recipe">
    <%= render "shared/header", :element => @recipe %> 
  </div>

  <div class="content recipe">
    <div class="aside">
      <%= @recipe.recipe_as_html %>
    </div>
    <div class="primary" itemprop="description">
      <%= @recipe.description_to_html %>
      <ul class="recommends">
        <h3 class="recommends-label">Try a similar cocktail:</h3>
        <%= render "lists/list_elements_with_images", :list_elements => @recipe.recommends %>
      </ul>
    </div>
  </div>
  
  <%= render 'footer', :recipe => @recipe %>
<% end %>