<div class="header recipe">
  <div class="header-content">
    <%= filepicker_image_tag @recipe.image, w: 1880, h: 1080, fit: 'crop', crop: "0,0,1880,1080", align: "center,center" %>
  </div>
</div>

<div class="content recipe">
  <div class="aside">
    <%= @recipe.recipe_to_html %>
  </div>
  <div class="primary">
    <h1 class="header-title"><%= @recipe.name %></h1>
    <%= @recipe.description_to_html %>
  </div>
</div>

<a href="<%= edit_url() %>">edit</a>