<div class="header-content" href="<%= element.url %>">
  <%= header_image(element) %>
  <h1 class="header-title" itemprop="name">
    <a href="<%= element.url %>">
      <%= display_number_with_fallback(element) %>
      <%= swash(element.name) %>
    </a>
    <%= render 'shared/pseudonyms' if element.try(:pseudonyms_as_markdown) %>
  </h1>
</div>
<%= render 'admin/user_links' %>
