<div class="header-content">
  <%= header_image(element) %>
  <h1 class="header-title">
    <a href="<%= element.url %>">
      <%= render "shared/display_number", :number => element.number if element.respond_to?(:number) %>
      <%= swash(element.name) %>
    </a>
  </h1>
</div>
<%= render 'admin/user_links' %>