<% 
show_admin_controls ||= false
search_result ||= false
image_first ||= false
for_search ||= false
class_name ||= ''
index_element_classes = "#{'index-element--for-search ' if for_search}#{'index-element--image-first ' if image_first}#{class_name}"
%>

<div class="index-element <%= index_element_classes %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/Recipe">
  <div class="index-element__text">
    <%= link_to element.name, element.url, :class => "index-element__name", :itemprop => "name" %>
    <% if user_signed_in? && show_admin_controls %>
      <div class="admin-controls">
        <%= link_to "edit", element.edit_url %> |
        <%= link_to "delete", delete_link(element) %>
        <%= publish_status(element) %>
      </div>
    <% else %>
      <% if search_result.present? && !search_result.blank? %>
        <div class="index-element__subtext search">
          <%= search_result.html_safe %>
        </div>
      <% else %>
        <div class="index-element__subtext">
          <%= render element.subtext, :element => element if element.subtext.present? %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a href="<%= element.url %>" class="index-element__image">
    <%= index_image(element) %>
  </a>
</div>
