<% show_admin_controls ||= false %>
<% search_result ||= false %>

<div class="index-element <%= index_item_class_name(element) %> <%= 'for-search' if defined?(for_search) %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/Recipe">
  <div class="index-element-text">
    <%= link_to element.name, element.url, :class => "index-element-name", :itemprop => "name" %>
    <% if user_signed_in? && show_admin_controls %>
      <div class="admin-controls">
        <%= link_to "edit", element.edit_url %> |
        <%= link_to "delete", delete_link(element) %>
        <%= publish_status(element) %>
      </div>
    <% else %>
      <% if search_result.present? && !search_result.blank? %>
        <h4 class="subtext search">
          <%= search_result.html_safe %>
        </h4>
      <% else %>
        <%= render element.subtext, :element => element if element.subtext.present? %>
      <% end %>
    <% end %>

  </div>
  <div class="index-element-image">
    <%= link_to element.url do %>
      <%= index_image(element) %>
    <% end %>
  </div>
</div>
