<!DOCTYPE html>
<html data-share-alert="<%= cookies[:visit_count] %>" logged-in="<%= user_signed_in?.to_s %>" class="<%= 'win' if windows? %>">
  <head itemscope itemtype="http://schema.org/WebSite">
    <title itemprop='name'><%= site_title %></title>
    <link rel="canonical" href="http://tuxedono2.com" itemprop="url">
    <link href="/dist/application.css" rel="stylesheet" media="all">
    <script src="/dist/application.js"></script>
    <% if user_signed_in? %>
      <script src="/dist/cms.js"></script>
    <% end %>
    <%= csrf_meta_tags %>
    <%= render "shared/meta_tags" %>
    <% if no_index %>
      <meta name="robots" content="noindex">
    <% end %>
  </head>
  <body data-no-turbolink itemscope itemtype="http://schema.org/Product" class="<%= slugify(controller_name) %>">
    <div class="site-container">
      <%= render 'shared/global_header' %>
      <%= yield %>
      <%= render "shared/analytics" %>
    </div>
  </body>
</html>
