<!DOCTYPE html>
<html>
  <head>
    <title>Tuxno2</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= filepicker_js_include_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1;">
  </head>
  <body data-no-turbolink>
    <div class="global-header">
      <div class="header-primary">
        <a href="/" id="logo" class="sprite-tuxno2-logo-small">
          Tuxedo Number Two: Cocktails, Spiritis, Drinks, Etc.
        </a>
      </div>
      <div class="header-secondary">
        <%= render 'lists/links', :list => links %>
        <%= render 'shared/social' %>
        <div class="search-wrapper">
          <input type="text" class="search" placeholder="search"></input>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

  </body>
</html>
