<!DOCTYPE html>
<html data-share-alert="<%= cookies[:visit_count] %>" logged-in="<%= user_signed_in?.to_s %>" class="<%= 'win' if windows? %>">
  <head>
    <title><%= site_title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= filepicker_js_include_tag %>
    <%= csrf_meta_tags %>
    <%= render "shared/meta_tags" %>
  </head>
  <body data-no-turbolink itemscope itemtype="http://schema.org/Product">
    <%= render 'shared/global_header' %>

    <%= yield %>

    <%= render "shared/analytics" %>
  </body>
</html>
